<section class="card checkins">
    <form name="myform" ng-submit="addCheckin()" novalidate>
        <div class="textintro">
            <h1>Checkin for the meeting</h1>
            <p> Fill out the Details below:</p>
        </div>

        <fieldset>
                <input type="text" name="firstname" placeholder="First Name" ng-model="user.firstname" ng-required="true">
                <p class="error validationerror" ng-show="myform.firstname.$invalid && myform.firstname.$touched">Please enter firstname</p>
                
                <input type="text" name="lastname" placeholder="Last Name" ng-model="user.lastname" ng-required="true">
                <p class="error validationerror" ng-show="myform.lastname.$invalid && myform.lastname.$touched "> Please eneter lastname</p>
                
                <input type="email" name="email" placeholder="Email" ng-model="user.email" ng-required="true">
                <p class="error validationerror" ng-show="myform.email.$invalid && myform.email.$touched">Required an email</p>
                
               </fieldset>

        <button type="submit" class="btn" ng-disabled="myform.$invalid">Check-In</button>

    </form>
</section>